In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = sns.load_dataset('iris')

In [10]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [11]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [12]:
x = df.drop(['species'],axis=1)
y = df['species']

In [13]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [14]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.2,random_state=42)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [18]:
clf = DecisionTreeClassifier(criterion='entropy')

In [21]:
clf.fit(x_train, y_train)

y_predi = clf.predict(x_test)

print(f"accuracy of the tree is : {accuracy_score(y_test,y_predi)}")

accuracy of the tree is : 1.0

In [31]:
feature_importance = clf.feature_importances_

In [29]:
feature_names = clf.feature_names_in_

In [32]:
feature_imp = dict(zip(feature_names,feature_importance))

In [33]:
feature_imp

{'sepal_length': 0.01448725165687558,
 'sepal_width': 0.0,
 'petal_length': 0.31591570420627235,
 'petal_width': 0.6695970441368521}

# so shall we delete sepal width and try again ?

In [37]:
x = df.drop(['species','sepal_width'],axis=1)
y = df['species']

In [39]:
clf = DecisionTreeClassifier(criterion='entropy')


clf.fit(x_train, y_train)

y_predi = clf.predict(x_test)

print(f"accuracy of the tree is : {accuracy_score(y_test,y_predi)}")

accuracy of the tree is : 1.0