In [1]:
import pandas as pd

In [2]:
data = {"id" : [1,2,3,4],
       "gender" : ['m','f','f','m']}


df = pd.DataFrame(data)

In [3]:
df

   id gender
0   1      m
1   2      f
2   3      f
3   4      m

In [7]:
dummy = pd.get_dummies(df['gender'], prefix='gender',drop_first=True)

dummy

   gender_m
0         1
1         0
2         0
3         1

In [8]:
import pandas as pd

data = {'ID': [1, 2, 3, 4],
        'Color': ['Red', 'Blue', 'Green', 'Red']}

df = pd.DataFrame(data)

In [9]:
dummy_color = pd.get_dummies(df['Color'], prefix='Color')
dummy_color

   Color_Blue  Color_Green  Color_Red
0           0            0          1
1           1            0          0
2           0            1          0
3           0            0          1

In [10]:
dummy_color = pd.get_dummies(df['Color'], prefix='Color',drop_first=True)
dummy_color

   Color_Green  Color_Red
0            0          1
1            0          0
2            1          0
3            0          1

In [11]:
df = pd.concat([df, dummy_color], axis=1)

In [12]:
df

   ID  Color  Color_Green  Color_Red
0   1    Red            0          1
1   2   Blue            0          0
2   3  Green            1          0
3   4    Red            0          1

# lets start dummy with examples

In [50]:
import pandas as pd

data = pd.DataFrame(pd.Series(["red", "green", "blue"]))
data

       0
0    red
1  green
2   blue

In [57]:
new_data = pd.DataFrame(pd.Series(["red", "green", "blue", "yellow", "purple"]))
new_data

        0
0     red
1   green
2    blue
3  yellow
4  purple

### using dummys

In [58]:
gd_df = pd.get_dummies(data, prefix="color")

print(gd_df)

   color_blue  color_green  color_red
0           0            0          1
1           0            1          0
2           1            0          0

In [63]:
col_list = gd_df.columns.to_list()


new_df = pd.get_dummies(new_data, prefix="color")


new_df = new_df.reindex(columns = col_list)
print(new_df)

   color_blue  color_green  color_red
0           0            0          1
1           0            1          0
2           1            0          0
3           0            0          0
4           0            0          0

### using one hot encoder

In [64]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown="ignore", sparse=False)


ohe.fit(data)

ohe.transform(new_data)

C:\Users\amalv\anaconda3\jupyter\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])