In [3]:
# eulers toller  function theorm

In [5]:

a = [ 1,2,3,4,1]
a.remove(1)

In [6]:
a

[2, 3, 4, 1]

In [7]:
a.pop(2)

4

In [8]:
a

[2, 3, 1]

In [10]:
def grade(n):
    if(n>=90):
        print(f"you got A + grade")
    elif(n>=80):
        print(f"you got b + grade")
    elif(n>=70):
        print(f"you got c + grade")
    elif(n>=60):
        print(f"you got d + grade")
    else:
        print("you failed")

In [13]:
grade(50)

you failed

In [14]:
a = {"apple" : 2.50, "orange" : 1.99, "babana" : .59}

In [15]:
sent = 'today is a great day'

In [22]:
sent.split()

['today', 'is', 'a', 'great', 'day']

In [21]:
sent.swapcase()

'TODAY IS A GREAT DAY'

In [24]:
# # hw - 10 words create sentence
# ///sr = ['a','babana','banana']

In [26]:
# while loop
# -------------------

i = 0
while(i<10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [1]:
i = 1
while i < 16:
    print(i)
    i = i+2

1
3
5
7
9
11
13
15

In [4]:

i = 0
while i<10:
    print(i)
    if i == 5:
        break
    i+=1

0
1
2
3
4
5

In [5]:
def rect(l,b):
    return(f"area = {l * b}")

In [6]:
rect(5,6)

'area = 30'

In [12]:
# mlist = [1,2,3]
# return which position

mlist = [1,2,3,4,5,6]
for i in mlist:
    if i == 3:
        print("item found at :",mlist[i-2])

item found at : 2

In [16]:
def sod(n):
    num = abs(n)
    total = 0
    while num>=1:
        total = total + (num%10)
        num = num // 10
    return total

In [17]:
sod(144)

9

In [20]:
for i in range(1,10):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********

In [25]:
fact = 1
for i in range(1,10):
    fact = fact * i
print(fact)

362880

In [26]:
#  list comprehension

In [27]:
x = [i for i in range(5)]

In [28]:
x

[0, 1, 2, 3, 4]

In [33]:
x =['1','2','3','4','5']
y = [int(i) for i in x]

In [34]:
y

[1, 2, 3, 4, 5]

In [37]:
vec = [[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
vec = [[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]
print({i: str(i) for i in range(5)})

{0: '0', 1: '1', 2: '2', 3: '3', 4: '4'}

In [39]:
m_d = {1:'dog', 2:'cat', 3:'hamster'}
print({value:key for key, value in m_d.items()})

{'dog': 1, 'cat': 2, 'hamster': 3}

In [40]:
m_d

{1: 'dog', 2: 'cat', 3: 'hamster'}

In [41]:
for i in range(1,4):
    for j in range(1,4):
        print(j)

1
2
3
1
2
3
1
2
3

In [45]:
for i in range(1,6):
    for j in range(1,i):
        print(j,end = "")
    print()

1
12
123
1234

In [48]:
for i in range(1,5):
    print(i)

for i in range(1,5):
    print(i, end="")

1
2
3
4
1234